#grid_container{
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-areas:
        ". header_area ."
        ". main_area ."
}

header {
    grid-area: header_area;
    text-align: center;
}

main{
    grid-area: main_area;
}

body{
    background-color: #FAFAFA;
}

form{
    background-color: white;
    border-bottom: 2px solid #CCCCCC;
    padding: 36px;
}

.text_input label{
    display: block;
}
.text_input label{
    margin: 4px 0px 16px;
    padding: 12px;
    font-size: 18px;
    font-family: Verdana, sans-serif;
    width: 300px;
}
#how_can_we_help_id{
    border:0px;
    border: 2px solid black ;
    width: 80%;
}
#name_id{
    border:0px;
    border: 2px solid black ;
    width: 80%;
}
#name_id:invalid{
    background-color: lightcoral;
    border-bottom: 4px solid red;
    width: 80%;
}
#email_id{
    border:0px;
    border: 2px solid black;
    width: 80%;
}
#email_id:invalid{
    background-color: lightcoral;
    border-bottom: 4px solid red;
    width: 80%;
}
#would_you_reccommend_to_a_friend_id{
    border:0px;
    border: 2px solid black;
    width: 80%;
}
#are_you_satisfied_with_your_help_id{
    border:0px;
    border: 2px solid black ;
    width: 80%;
}
