*{
    box-sizing: border-box;
    margin:0px;
}
body{
    background-color: rgb(70, 69, 69);
    
}
body h1{
    margin-bottom: 25px;
    margin-top: 35px;
    text-align: center;
    font-size: 48px;
}

#two-col {
    display: grid;
    grid-template-columns: 1fr 5fr 250px 1fr;
    grid-template-areas: ". main sidebar .";
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

#sidebar {
    background-color:black;
    width: 200px;
    padding: 30px;
    border-right: 5px solid yellow;
    border-top: 5px solid yellow;
    border-bottom: 5px solid yellow;
    height: 550px;
    top: 15px;
    position: sticky;
    grid: 1px;
}
#sidebar ul {
    padding: 25px;
    list-style-type: none;
    display: flex;
    flex-flow: column wrap;
    gap: 15px;
    margin-bottom: 25px;
}
#sidebar a {
    color: yellow;
}
h1, h2{
text-decoration:underline;
color: yellow;
}


.big-pic img{
    height: 430px;
    width: 650px;
    display: flex;
}
.main #heading-1{
    text-align: center;
}

