/* Drill 1 - Write your code solution below */
#d1-div2{
    margin-top: 24px;
}

/* Drill 2 - Write your code solution below */
.d2-div{
    margin-top: 24px;
}

/* Drill 3 - Write your code solution below */
#d3-div2{
    margin-top: 24px; 
}

/* Drill 4 - Write your code solution below */
#d4-div1{
    margin-bottom: 24px;
}

#d4-div3{
    margin-top: 24px;
}
/* Drill 5 - Write your code solution below */
.d5-div{
    text-align: center;
}
.d5-h5{
    margin-bottom: 0%;
}
.d5-h1{
    margin-top: 0%;
    margin-bottom: 0%;
}
.d5-h2{
    margin-top: 0%;
}

/* Drill 6 - Write your code solution below */
.d6-div{
    margin-right: 48px;
}

/* Drill 7 - Write your code solution below */
.d7-div{
    margin-right: 40px;
}
#d7-container{
    text-align: center;
}