.text_input label{
    display: block;
}
.text_input label{
    margin: 4px 0px 16px;
    padding: 12px;
    font-size: 18px;
    font-family: Verdana, sans-serif;
    width: 300px;
}
#first_name_id{
    border:0px;
    border-bottom: 4px solid blue;
}

#first_name_id:focus-visible{
    outline: 0;
     background-color: rgb(122, 234, 234);
}
