#div_1{
    border: 5px solid purple;
}
#div_2 {
    border: 10px dashed forestgreen;
    padding: 24px;
}
#div_3{
    border: 24px dotted crimson;
    padding: 36px;
    margin: 60px;
}
#div_4{
    border: 2px solid blue;
    padding; 8px;
    margin: 24px; 
}
#div_5{
    background-color: #67cfae;
color:White; 
}
#div_6{
    background-color:blueviolet;
}