h2,h3,h4{
    text-align: center;
}

div{
    padding: 24px;
}

#p1-d1{
    background-color: #B2ABF2;
}

#p1-d2{
    background-color: #89043D;
}
#p1-d3{
    background-color: #2FE6DE;
}

#p1-heading{
    font-size: 48px;
}

#p1-d1,#p1-d2,#p1-d3,#p1-heading{
    font-family:cursive
}

#p2-d1{
    background-color: #EFBCD5;
}

#p2-d2{
    background-color: #BE97C6;
}

#p2-d3{
    background-color: #8661C1;
}

#p2-heading{
    font-size: 48px;
}

#p2-d1,#p2-d2,#p2-d3,#p2-heading{
    font-family:monospace;
}

#p3-d1{
    background-color:#1d1e18 ;
}

#p3-d2{
    background-color: #6b8f71;
}

#p3-d3{
    background-color: #aad2ba;
}
#p3-d1,#p3-d2,#p3-d3{
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#p3-heading{
    font-size: 48px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}