#hero{
height:80vh;
display:flex;
justify-content:center;
align-items: center; 
text-align: center;
background-image:url(../images/hulu-bg.jpeg);
background-position: center;
background-size: cover;
background-attachment: fixed;
}

h2,h4{
  color: white;  
}

#gallery_container{
  text-align: center;
  color: white;
}

#gallery_3{
  display:flex;
  flex-wrap: wrap;
}

#gallery_3 img{
  height: 200px;
  margin: 12px;
  flex: 1 0 auto;
  object-fit: cover;
}
